img {
	height:80px;
	width:80px;
	border-radius:40px;
	border: solid 5px plum;
}


h1 {
	font-size: 25px;
	font-weight:bold;
	text-align: center;
}
h2 {
	font-weight:bold;
	text-align: center;
}


div {
	background-color: coral;
	text-align: center;
	border: solid 5px plum;
	text-align: center;
}
