
.title{
	font-size:25 px;
	font-weight:bold;

.subtitle{
	font-weight:bold;
}

img {
	padding: 100 px 0 0 0;
	border: solid 2px gray;
	width:80px;
	height:80px;
	background-color:white;
	border-radius:50 px;
}

div{
text-align: center
}